<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="logo-wrapper">
        <a href="index.html" class="logo-link">
          <svg class="logo-icon">
            <use href="./img/svg/sprite.svg#icon-logo__footer"></use>
          </svg>
          <h2 class="logo-title">Furniture.test</h2>
        </a>
      </div>
      <div class="nav-footer">
        <ul class="categories-list">
          <li class="item"><a href="javascript:void(0)" class="item-link">Дивани</a></li>
          <li class="item"><a href="javascript:void(0)" class="item-link">ліжка</a></li>
          <li class="item"><a href="javascript:void(0)" class="item-link">Крісла</a></li>
          <li class="item"><a href="javascript:void(0)" class="item-link">комоди</a></li>
          <li class="item"><a href="javascript:void(0)" class="item-link">шафи</a></li>
          <li class="item"><a href="javascript:void(0)" class="item-link">Кухня</a></li>
        </ul>
        <ul class="nav-list">
          <li class="item"><a href="javascript:void(0)" class="item-link">Акції</a></li>
          <li class="item"><a href="javascript:void(0)" class="item-link">Доставка та оплата</a></li>
          <li class="item"><a href="javascript:void(0)" class="item-link">про нас</a></li>
          <li class="item"><a href="javascript:void(0)" class="item-link">контакти</a></li>
        </ul>
      </div>
      <div class="others-details">
        <div class="details-inner">
            <div class="address-wrapepr">
            <a href="https://www.google.com.ua/maps" target="_blank" class="address-link">
                <svg class="icon-map-pin">
                    <use href="./img/svg/sprite.svg#icon-map-pin"></use>
                </svg><p class="address-title">TEST</p></a>
        </div>
        <div class="work-time">
            <svg class="icon-calendar">
                <use href="./img/svg/sprite.svg#icon-calendar"></use>
            </svg>
            <p class="work-time-title">Пн-Пт, з 10 до 18</p>
        </div>
        </div>
        <div class="phone-wrapper">
            <div class="smartphone"></div>
            <ul class="phone-list">
                <li class="phone-list__item"><a href="tel:380991112233" class="contacts">(099) 111 22 33</a></li>
                <li class="phone-list__item"><a href="tel:380992223344" class="contacts">(099) 222 33 44</a></li>
            </ul>
        </div>
      </div>
      <div class="social-wrapper">
          <h3 class="social-title">Ми в соціальних мережах:</h3>
          <ul class="social-list">
              <li class="social-list__item">
                <a href="https://telegram.org/" target="_blank" class="social-link">
                    <svg class="icon-social">
                         <use href="./img/svg/sprite.svg#icon-telegram"></use>
                     </svg>
                </a>
              </li>
              <li class="social-list__item">
                <a href="https://www.facebook.com/" target="_blank" class="social-link">
                    <svg class="icon-social">
                         <use href="./img/svg/sprite.svg#icon-facebook"></use>
                     </svg>
                </a>
              </li>
               <li class="social-list__item">
                <a href="https://instagram.org/" target="_blank" class="social-link">
                    <svg class="icon-social">
                         <use href="./img/svg/sprite.svg#icon-instagram"></use>
                     </svg>
                </a>
              </li>
          </ul>
      </div>
      <div class="developers-information">
          <p class="developers-information__copy">&#169; ТОВ Furniture, працюємо з 2006 року</p>
          <a href="https://glyanec.net/ua" target="_blank" class="dev-link">
                <svg class="icon-glanec">
            <use href="./img/svg/sprite.svg#icon-glanec"></use>
          </svg><p class="title">Глянець — розробка інтернет-магазинів</p></a>
      </div>
  </div>
</footer>
