<header class="header">
  <div class="container">
    <div class="header__mobile">
      <div class="logo-wrapper">
        <a href="index.html" class="logo-link">
          <svg class="logo-icon">
            <use href="./img/svg/sprite.svg#icon-logo__new"></use>
          </svg>
          <h1 class="logo-title">Furniture.test</h1>
        </a>
      </div>
      <div class="nav-wrapper__mob">
        <a href="javascript:void(0)" class="basket-link">
          <svg class="basket-icon">
            <use href="./img/svg/sprite.svg#icon-shopping-basket"></use>
          </svg>
        </a>
        <div class="header-burger">
          <span></span>
        </div>
        <nav class="header-menu">
          <ul class="header-list">
            <li class="header-list_item"><a href="javascript:void(0)" class="item-link active">Головна</a></li>
            <li class="header-list_item categories-list__toggler">
              <a href="javascript:void(0)" class="item-link"
                >Категорії
                <svg class="arrow">
                  <use href="./img/svg/sprite.svg#icon-shevron"></use>
                </svg>
              </a>
              <ul class="categories-list">
                <li class="categories-list__item"><a href="javascript:void(0)" class="item-link">Дивани</a></li>
                <li class="categories-list__item"><a href="javascript:void(0)" class="item-link">ліжка</a></li>
                <li class="categories-list__item"><a href="javascript:void(0)" class="item-link">Крісла</a></li>
                <li class="categories-list__item"><a href="javascript:void(0)" class="item-link">комоди</a></li>
                <li class="categories-list__item"><a href="javascript:void(0)" class="item-link">шафи</a></li>
                <li class="categories-list__item"><a href="javascript:void(0)" class="item-link">Кухня</a></li>
              </ul>
            </li>
            <li class="header-list_item"><a href="javascript:void(0)" class="item-link">Акції</a></li>
            <li class="header-list_item"><a href="javascript:void(0)" class="item-link">Доставка та оплата</a></li>
            <li class="header-list_item"><a href="javascript:void(0)" class="item-link">про нас</a></li>
            <li class="header-list_item"><a href="javascript:void(0)" class="item-link">контакти</a></li>
          </ul>
          <div class="button-wrapper">
            <button class="button order-call">Замовити дзвінок</button>
          </div>
        </nav>
      </div>
    </div>
    <div class="header__decktop"></div>
  </div>
</header>
